.head {
    text-align: center;
}
.image{
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 320px;
    background-color: rgb(219, 241, 255);
}
.footer{
    text-align: center;
    margin: 20px;
}
